html, body {
  height: 98%;
  font-family: Arial, Helvetica, sans-serif;
  color: #1E1E24;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

div#table {
  margin-top: 2rem !important;
  margin: auto;
}

div#root {
  height: 100%;
}

div#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div#inputs {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

div#size-selector {
  display: flex;
  justify-content: center;
}

#solve-button {
  width: 5rem;
  height: 1.5rem;
  margin: auto;
  background-color: #ffffff;
  color: #1E1E24;
  border-width: 0.05em;
  border-radius: 0.2em;
}

.grid-button {
  width: 3em;
  height: 3em;
  margin-right: 0.7em;
  margin-bottom: 0.7em;
  border-width: 0.15em;
  border-radius: 0.7em;
  border-color: #1E1E24;
  border-bottom-width: 0.4em;
  transition: background-color 0.2s;
}

.grid-button[value="0"] {
  background-color: #ffffff;
} 

.grid-button[value="1"] {
  background-color: #F0544F;
}

.grid-button[value="2"] {
  background-color: #3C91E6;
}

div#size-selector label {
  margin-left: 0.2em;
  margin-right: 0.8em;
}

div#size-selector input[type="radio"] {
  accent-color: #1E1E24;
}